body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#service-section {
    padding: 50px 0;
}

.theme-title {
    text-align: center;
    margin-bottom: 50px;
}

.single-service-content {
    text-align: center;
    margin-bottom: 50px;
    background-color: #88c2cf;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.single-service-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #e073e8e0;
}

.icon {
    font-size: 40px;
    margin-bottom: 20px;
    color: #2b4158; 
}

h6 a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

h6 a:hover {
    color: #d422e1;
}

p {
    font-size: 16px;
    line-height: 1.8;
    color: #171616;
}